node-red.yaml
[
    {
        "id": "49cef67d.db9168",
        "type": "tab",
        "label": "Nest is offline",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc91cb3e.a83d68",
        "type": "tab",
        "label": "Environmental",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7b33efdd.5dfc1",
        "type": "tab",
        "label": "Security",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b728fe21.5de91",
        "type": "tab",
        "label": "Presence",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d315e32.6167e",
        "type": "tab",
        "label": "Kids",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2080d456.54e53c",
        "type": "tab",
        "label": "Systems",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aa3f14b.9dc9de8",
        "type": "subflow",
        "name": "Store Light State",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 148,
                "y": 32,
                "wires": [
                    {
                        "id": "c93746a5.4aefd8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1108,
                "y": 192,
                "wires": [
                    {
                        "id": "4f6af0cd.4d577",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "ebec1a05.364f28",
        "type": "subflow",
        "name": "Store all states",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 148,
                "y": 32,
                "wires": [
                    {
                        "id": "f3f9e9fe.1ed1d8"
                    },
                    {
                        "id": "9f813db2.07675"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1076,
                "y": 224,
                "wires": [
                    {
                        "id": "294b6250.83f4be",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "97dc732c.f5042",
        "type": "subflow",
        "name": "Restore Light States",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 212,
                "y": 64,
                "wires": [
                    {
                        "id": "8718bf10.5c718"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 896,
                "y": 128,
                "wires": [
                    {
                        "id": "bd0c2408.182678",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "e00e7c68.2bb51",
        "type": "subflow",
        "name": "Restore All States",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": []
    },
    {
        "id": "7f50d496.0afc3c",
        "type": "subflow",
        "name": "Announce Everywhere",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 64,
                "y": 64,
                "wires": [
                    {
                        "id": "afdc1f85.b4641"
                    },
                    {
                        "id": "54092dfc.d3deb4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 404,
                "y": 64,
                "wires": [
                    {
                        "id": "54092dfc.d3deb4",
                        "port": 0
                    },
                    {
                        "id": "afdc1f85.b4641",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "MESSAGE",
                "type": "str",
                "value": ""
            },
            {
                "name": "TITLE",
                "type": "str",
                "value": ""
            }
        ]
    },
    {
        "id": "303b585e.fbf2d8",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    },
    {
        "id": "db630764.b22748",
        "type": "ui_base",
        "z": "",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "80f35e92.853ea",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "7935c445.d22aec",
        "type": "trigger-state",
        "z": "49cef67d.db9168",
        "name": "Nest is offline",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "automation.nest_is_offline",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "habool",
        "x": 144,
        "y": 160,
        "wires": [
            [
                "95e5275.b10bfd8"
            ],
            []
        ]
    },
    {
        "id": "4ae6bd66.f5cfd4",
        "type": "poll-state",
        "z": "dc91cb3e.a83d68",
        "name": "Basement Humidity ",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "60",
        "updateIntervalUnits": "seconds",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "sensor.98_07_2d_4a_97_5c_humidity",
        "state_type": "num",
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "outputs": 1,
        "x": 154,
        "y": 96,
        "wires": [
            [
                "8984bb83.4e8d28"
            ]
        ]
    },
    {
        "id": "20e2a64.b88745a",
        "type": "api-call-service",
        "z": "dc91cb3e.a83d68",
        "name": "Turn off dehumidifier",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.zooz_zen15_power_switch_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 564,
        "y": 136,
        "wires": [
            []
        ]
    },
    {
        "id": "8984bb83.4e8d28",
        "type": "switch",
        "z": "dc91cb3e.a83d68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "55",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 344,
        "y": 96,
        "wires": [
            [
                "d986c0a4.3ea28"
            ],
            [
                "20e2a64.b88745a"
            ]
        ]
    },
    {
        "id": "d986c0a4.3ea28",
        "type": "api-call-service",
        "z": "dc91cb3e.a83d68",
        "name": "Turn on dehumidifier",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.zooz_zen15_power_switch_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 564,
        "y": 56,
        "wires": [
            []
        ]
    },
    {
        "id": "cb431336.b73d3",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Arm Alarm",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_home",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "{\t\"code\" : msg.alarm_code\t}",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 930,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "56a25c89.786a34",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Disarm Alarm",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "{\t\"code\" : msg.alarm_code\t}",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 940,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a2d89a7e.d05da8",
        "type": "trigger-state",
        "z": "7b33efdd.5dfc1",
        "name": "Motion in garage",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.motion_garage",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 122,
        "y": 864,
        "wires": [
            [
                "ff054a17.00e898",
                "7e6f5447.e6e69c"
            ],
            []
        ]
    },
    {
        "id": "ff054a17.00e898",
        "type": "stoptimer",
        "z": "7b33efdd.5dfc1",
        "duration": "10",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 368,
        "y": 832,
        "wires": [
            [
                "d8f716b3.619978"
            ],
            []
        ]
    },
    {
        "id": "7e6f5447.e6e69c",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Turn on garage lights",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.garage_ceiling_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 388,
        "y": 896,
        "wires": [
            []
        ]
    },
    {
        "id": "d8f716b3.619978",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Turn off garage lights",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.garage_ceiling_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 964,
        "y": 832,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca7b274.e2a04",
        "type": "trigger-state",
        "z": "7b33efdd.5dfc1",
        "name": "Alarm triggered!",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "028yovfh9cvd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            },
            {
                "id": "oh7nv3fs97o",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "dbeba93f.9a7438",
                "5499f9a1.82eba8"
            ],
            []
        ]
    },
    {
        "id": "dbeba93f.9a7438",
        "type": "stoptimer",
        "z": "7b33efdd.5dfc1",
        "duration": "1",
        "units": "Hour",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 358,
        "y": 288,
        "wires": [
            [
                "225b02ff.fabdae"
            ],
            []
        ]
    },
    {
        "id": "c219370a.e80668",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Turn on all lights",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.all_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 944,
        "y": 352,
        "wires": [
            []
        ]
    },
    {
        "id": "8631ab40.0041d8",
        "type": "inject",
        "z": "e00e7c68.2bb51",
        "name": "Restore all states",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 176,
        "y": 64,
        "wires": [
            [
                "e127fd4a.3d5e9"
            ]
        ]
    },
    {
        "id": "e127fd4a.3d5e9",
        "type": "change",
        "z": "e00e7c68.2bb51",
        "name": "Get Saved States",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "savedStates",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 378,
        "y": 64,
        "wires": [
            [
                "26fa4020.92771"
            ]
        ]
    },
    {
        "id": "c801115e.66e82",
        "type": "debug",
        "z": "e00e7c68.2bb51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 902,
        "y": 64,
        "wires": []
    },
    {
        "id": "26fa4020.92771",
        "type": "split",
        "z": "e00e7c68.2bb51",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 562,
        "y": 64,
        "wires": [
            [
                "5b83ef6b.960ec"
            ]
        ]
    },
    {
        "id": "5b83ef6b.960ec",
        "type": "api-call-service",
        "z": "e00e7c68.2bb51",
        "name": "Restore State",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 720,
        "y": 64,
        "wires": [
            [
                "c801115e.66e82"
            ]
        ]
    },
    {
        "id": "72a76a20.4b5014",
        "type": "debug",
        "z": "aa3f14b.9dc9de8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1158,
        "y": 128,
        "wires": []
    },
    {
        "id": "4f6af0cd.4d577",
        "type": "change",
        "z": "aa3f14b.9dc9de8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "savedLightStates",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 904,
        "y": 128,
        "wires": [
            [
                "72a76a20.4b5014"
            ]
        ]
    },
    {
        "id": "9edd8946.813d38",
        "type": "join",
        "z": "aa3f14b.9dc9de8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 706,
        "y": 128,
        "wires": [
            [
                "4f6af0cd.4d577"
            ]
        ]
    },
    {
        "id": "56091aa.a9a11e4",
        "type": "function",
        "z": "aa3f14b.9dc9de8",
        "name": "transform data",
        "func": "const payload = {};\npayload.domain = msg.payload.entity_id.split('.')[0];\npayload.service = `turn_${msg.payload.state}`;\npayload.data = { entity_id: msg.payload.entity_id };\n\n// create a blank message object with out new payload\nmsg = { payload: payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 528,
        "y": 128,
        "wires": [
            [
                "9edd8946.813d38"
            ]
        ]
    },
    {
        "id": "c93746a5.4aefd8",
        "type": "ha-get-entities",
        "z": "aa3f14b.9dc9de8",
        "server": "303b585e.fbf2d8",
        "name": "Get Lights",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "includes",
                "value": "on,off",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 338,
        "y": 128,
        "wires": [
            [
                "56091aa.a9a11e4"
            ]
        ]
    },
    {
        "id": "2c7c8fc1.2a011",
        "type": "inject",
        "z": "aa3f14b.9dc9de8",
        "name": "Store light states",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 112,
        "y": 128,
        "wires": [
            [
                "c93746a5.4aefd8"
            ]
        ]
    },
    {
        "id": "2c95f594.9006ba",
        "type": "inject",
        "z": "97dc732c.f5042",
        "name": "Restore light states",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 154,
        "y": 128,
        "wires": [
            [
                "8718bf10.5c718"
            ]
        ]
    },
    {
        "id": "8718bf10.5c718",
        "type": "change",
        "z": "97dc732c.f5042",
        "name": "Get Saved States",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "savedLightStates",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 406,
        "y": 128,
        "wires": [
            [
                "39fe5d25.ac8652"
            ]
        ]
    },
    {
        "id": "39fe5d25.ac8652",
        "type": "split",
        "z": "97dc732c.f5042",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 574,
        "y": 128,
        "wires": [
            [
                "bd0c2408.182678"
            ]
        ]
    },
    {
        "id": "bd0c2408.182678",
        "type": "api-call-service",
        "z": "97dc732c.f5042",
        "name": "Restore State",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 732,
        "y": 128,
        "wires": [
            []
        ]
    },
    {
        "id": "5499f9a1.82eba8",
        "type": "subflow:aa3f14b.9dc9de8",
        "z": "7b33efdd.5dfc1",
        "name": "",
        "env": [],
        "x": 378,
        "y": 352,
        "wires": [
            [
                "c219370a.e80668",
                "d7759dd8.e2d65"
            ]
        ]
    },
    {
        "id": "13cb93f5.a8a97c",
        "type": "inject",
        "z": "ebec1a05.364f28",
        "name": "Store all states",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 112,
        "y": 160,
        "wires": [
            [
                "9f813db2.07675",
                "f3f9e9fe.1ed1d8"
            ]
        ]
    },
    {
        "id": "9f813db2.07675",
        "type": "ha-get-entities",
        "z": "ebec1a05.364f28",
        "server": "303b585e.fbf2d8",
        "name": "Get Switches",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "switch",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "includes",
                "value": "on,off",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 358,
        "y": 160,
        "wires": [
            [
                "9f75495.b3308b8"
            ]
        ]
    },
    {
        "id": "f3f9e9fe.1ed1d8",
        "type": "ha-get-entities",
        "z": "ebec1a05.364f28",
        "server": "303b585e.fbf2d8",
        "name": "Get Lights",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "includes",
                "value": "on,off",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 358,
        "y": 96,
        "wires": [
            [
                "9f75495.b3308b8"
            ]
        ]
    },
    {
        "id": "9f75495.b3308b8",
        "type": "function",
        "z": "ebec1a05.364f28",
        "name": "transform data",
        "func": "const payload = {};\npayload.domain = msg.payload.entity_id.split('.')[0];\npayload.service = `turn_${msg.payload.state}`;\npayload.data = { entity_id: msg.payload.entity_id };\n\n// create a blank message object with out new payload\nmsg = { payload: payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "7a030700.a18bc8"
            ]
        ]
    },
    {
        "id": "7a030700.a18bc8",
        "type": "join",
        "z": "ebec1a05.364f28",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 722,
        "y": 160,
        "wires": [
            [
                "294b6250.83f4be"
            ]
        ]
    },
    {
        "id": "749ec20f.60b22c",
        "type": "debug",
        "z": "ebec1a05.364f28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1126,
        "y": 160,
        "wires": []
    },
    {
        "id": "294b6250.83f4be",
        "type": "change",
        "z": "ebec1a05.364f28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "savedStates",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 160,
        "wires": [
            [
                "749ec20f.60b22c"
            ]
        ]
    },
    {
        "id": "225b02ff.fabdae",
        "type": "subflow:97dc732c.f5042",
        "z": "7b33efdd.5dfc1",
        "name": "",
        "env": [],
        "x": 964,
        "y": 288,
        "wires": [
            []
        ]
    },
    {
        "id": "e34d66b2.cb6b18",
        "type": "inject",
        "z": "7b33efdd.5dfc1",
        "name": "Bedtime",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 580,
        "wires": [
            [
                "75d9c48d.f41b5c"
            ]
        ]
    },
    {
        "id": "760d441a.8ce71c",
        "type": "inject",
        "z": "7b33efdd.5dfc1",
        "name": "Wakeup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 05 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 700,
        "wires": [
            [
                "ce576cef.2f5b"
            ]
        ]
    },
    {
        "id": "456063a0.fab6fc",
        "type": "trigger-state",
        "z": "7b33efdd.5dfc1",
        "name": "Everyone has left",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "device_tracker.occupants",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "kl04bm6pkpd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "b98c2d39.593c3"
            ],
            []
        ]
    },
    {
        "id": "75d9c48d.f41b5c",
        "type": "api-current-state",
        "z": "7b33efdd.5dfc1",
        "name": "Occupants are home",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "device_tracker.occupants",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 384,
        "y": 580,
        "wires": [
            [
                "2e67f20f.f7889e"
            ],
            []
        ]
    },
    {
        "id": "ccf02df8.c634f",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Arm alarm away",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_away",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "{\t\"code\" : msg.alarm_code\t}",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 944,
        "y": 64,
        "wires": [
            []
        ]
    },
    {
        "id": "ce576cef.2f5b",
        "type": "api-current-state",
        "z": "7b33efdd.5dfc1",
        "name": "Occupants are home",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "device_tracker.occupants",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 384,
        "y": 700,
        "wires": [
            [
                "e872bbd5.c38488"
            ],
            []
        ]
    },
    {
        "id": "e872bbd5.c38488",
        "type": "api-current-state",
        "z": "7b33efdd.5dfc1",
        "name": "Is alarm armed?",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "armed_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 620,
        "y": 700,
        "wires": [
            [
                "59de1870.def048"
            ],
            []
        ]
    },
    {
        "id": "a83ff51c.8c2218",
        "type": "trigger-state",
        "z": "49cef67d.db9168",
        "name": "Nest is back online",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "automation.nest_is_back_online",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "habool",
        "x": 154,
        "y": 256,
        "wires": [
            [
                "bd7f00dd.7a7b8"
            ],
            []
        ]
    },
    {
        "id": "81caeb83.8d3f98",
        "type": "comment",
        "z": "dc91cb3e.a83d68",
        "name": "Humidity hits >= 55% or <= 50",
        "info": "",
        "x": 568,
        "y": 96,
        "wires": []
    },
    {
        "id": "2e67f20f.f7889e",
        "type": "api-current-state",
        "z": "7b33efdd.5dfc1",
        "name": "Is alarm armed?",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "armed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 620,
        "y": 580,
        "wires": [
            [],
            [
                "98416527.09beb8"
            ]
        ]
    },
    {
        "id": "330595a.36fdb6a",
        "type": "ha-get-entities",
        "z": "b728fe21.5de91",
        "server": "303b585e.fbf2d8",
        "name": "Get people that are home",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "person.",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "home",
                "valueType": "str"
            }
        ],
        "output_type": "array",
        "output_empty_results": true,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 622,
        "y": 192,
        "wires": [
            [
                "4a3a465e.d78608"
            ]
        ]
    },
    {
        "id": "4687e6d8.5a2e68",
        "type": "inject",
        "z": "b728fe21.5de91",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 134,
        "y": 128,
        "wires": [
            [
                "54efc82.ed74838"
            ]
        ]
    },
    {
        "id": "54efc82.ed74838",
        "type": "api-current-state",
        "z": "b728fe21.5de91",
        "name": "Are guests home",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.guests_home",
        "state_type": "habool",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 346,
        "y": 128,
        "wires": [
            [
                "3365a6c1.951e4a"
            ],
            [
                "330595a.36fdb6a"
            ]
        ]
    },
    {
        "id": "564f322b.b5c3fc",
        "type": "api-call-service",
        "z": "b728fe21.5de91",
        "name": "Set occupants not home",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "device_tracker",
        "service": "see",
        "entityId": "",
        "data": "{\"dev_id\":\"occupants\",\"location_name\":\"not_home\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1038,
        "y": 256,
        "wires": [
            []
        ]
    },
    {
        "id": "3365a6c1.951e4a",
        "type": "api-call-service",
        "z": "b728fe21.5de91",
        "name": "Set occupants home",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "device_tracker",
        "service": "see",
        "entityId": "",
        "data": "{\"dev_id\":\"occupants\",\"location_name\":\"home\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1028,
        "y": 128,
        "wires": [
            []
        ]
    },
    {
        "id": "4a3a465e.d78608",
        "type": "switch",
        "z": "b728fe21.5de91",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 818,
        "y": 192,
        "wires": [
            [
                "3365a6c1.951e4a"
            ],
            [
                "564f322b.b5c3fc"
            ]
        ]
    },
    {
        "id": "1be08a13.aa6b16",
        "type": "trigger-state",
        "z": "7b33efdd.5dfc1",
        "name": "Someone has arrived",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "device_tracker.occupants",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "g2f1jeytazi",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "743b30b8.310c"
            ],
            []
        ]
    },
    {
        "id": "dc121229.466b3",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Disarm alarm",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "{\t\"code\" : msg.alarm_code\t}",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 934,
        "y": 192,
        "wires": [
            []
        ]
    },
    {
        "id": "15265fa6.94224",
        "type": "api-current-state",
        "z": "7b33efdd.5dfc1",
        "name": "Is alarm armed?",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "armed,armed_home",
        "halt_if_type": "str",
        "halt_if_compare": "includes",
        "override_topic": false,
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 624,
        "y": 192,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b9f1fce1.d1b9e",
        "type": "ha-get-entities",
        "z": "7b33efdd.5dfc1",
        "server": "303b585e.fbf2d8",
        "name": "",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "light.",
                "valueType": "str"
            }
        ],
        "output_type": "random",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 582,
        "y": 1248,
        "wires": [
            [
                "fec0e281.38335"
            ]
        ]
    },
    {
        "id": "7aa3b57.f3f264c",
        "type": "delay",
        "z": "7b33efdd.5dfc1",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "20",
        "randomLast": "124",
        "randomUnits": "minutes",
        "drop": false,
        "x": 988,
        "y": 1248,
        "wires": [
            [
                "fc8e1a0b.ccf088"
            ]
        ]
    },
    {
        "id": "fec0e281.38335",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Turn on Light",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "{{payload.entity_id}}",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 774,
        "y": 1248,
        "wires": [
            [
                "7aa3b57.f3f264c"
            ]
        ]
    },
    {
        "id": "fc8e1a0b.ccf088",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Turn off Light",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "{{payload.entity_id}}",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1158,
        "y": 1248,
        "wires": [
            []
        ]
    },
    {
        "id": "db16fd7c.e706b",
        "type": "api-current-state",
        "z": "7b33efdd.5dfc1",
        "name": "Vacation Mode",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 400,
        "y": 1248,
        "wires": [
            [
                "b9f1fce1.d1b9e"
            ],
            []
        ]
    },
    {
        "id": "710c7668.55d658",
        "type": "switch",
        "z": "7b33efdd.5dfc1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sunsetStart",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sunset",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dusk",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 242,
        "y": 1248,
        "wires": [
            [
                "db16fd7c.e706b"
            ],
            [
                "db16fd7c.e706b"
            ],
            [
                "db16fd7c.e706b"
            ]
        ]
    },
    {
        "id": "54092dfc.d3deb4",
        "type": "api-call-service",
        "z": "7f50d496.0afc3c",
        "name": "Announce on Alexa",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media",
        "entityId": "",
        "data": "{\t   \"message\": $env('MESSAGE'),\t   \"data\": {\t        \"type\": \"tts\"\t    },\t   \"target\": [\t       \"media_player.kitchen\",\t       \"media_player.family_room\",    \t       \"media_player.living_room\"  \t   ]\t}",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": true,
        "x": 218,
        "y": 64,
        "wires": [
            []
        ]
    },
    {
        "id": "b98c2d39.593c3",
        "type": "api-current-state",
        "z": "7b33efdd.5dfc1",
        "name": "Vacation Mode",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.vacation_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 368,
        "y": 96,
        "wires": [
            [
                "ba1b94c6.3387d8"
            ],
            [
                "8133315a.2aebc"
            ]
        ]
    },
    {
        "id": "f6e9ee36.e2464",
        "type": "api-call-service",
        "z": "7b33efdd.5dfc1",
        "name": "Arm alarm home",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_home",
        "entityId": "alarm_control_panel.alarm_panel",
        "data": "{\t\"code\" : msg.alarm_code\t}",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 944,
        "y": 128,
        "wires": [
            []
        ]
    },
    {
        "id": "e901454c.e04248",
        "type": "stoptimer",
        "z": "7b33efdd.5dfc1",
        "duration": "15",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 1178,
        "y": 416,
        "wires": [
            [
                "78d558cf.032398"
            ],
            []
        ]
    },
    {
        "id": "78d558cf.032398",
        "type": "api-current-state",
        "z": "7b33efdd.5dfc1",
        "name": "Still triggered?",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "outputs": 2,
        "halt_if": "triggered",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1392,
        "y": 480,
        "wires": [
            [
                "d7759dd8.e2d65"
            ],
            []
        ]
    },
    {
        "id": "a8d63e72.5bffc",
        "type": "switch",
        "z": "7b33efdd.5dfc1",
        "name": "Has timeout expired?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "expired",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 1056,
        "wires": [
            [
                "dabac61c.7e0d58"
            ]
        ]
    },
    {
        "id": "15f97f0f.69ee01",
        "type": "trigger-state",
        "z": "7b33efdd.5dfc1",
        "name": "A door has opened",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.door_",
        "entityidfiltertype": "substring",
        "debugenabled": false,
        "constraints": [
            {
                "id": "unjzzmbb2j",
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarm_panel",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 122,
        "y": 1056,
        "wires": [
            [
                "3a10fbd4.edd984"
            ],
            []
        ]
    },
    {
        "id": "d7759dd8.e2d65",
        "type": "subflow:7f50d496.0afc3c",
        "z": "7b33efdd.5dfc1",
        "name": "Announce Everywhere",
        "env": [
            {
                "name": "MESSAGE",
                "type": "str",
                "value": "The alarm has been triggered"
            },
            {
                "name": "TITLE",
                "type": "str",
                "value": "Alarm Triggerd!"
            }
        ],
        "x": 968,
        "y": 416,
        "wires": [
            [
                "e901454c.e04248"
            ]
        ]
    },
    {
        "id": "afdc1f85.b4641",
        "type": "api-call-service",
        "z": "7f50d496.0afc3c",
        "name": "Announce on Mobile",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_nokia_7_plus",
        "entityId": "",
        "data": "{\t   \"message\": $env('MESSAGE'),\t   \"title\": $env('TITLE'),\t   \"data\": {\t       \"icon\": \"https://goo.gl/xeetdy\",\t       \"smallicon\": \"https://goo.gl/xeetdy\",\t       \"vibration\": \"0,65,706,86,657,95,668,100\",\t       \"image\": \"https://www.home-assistant.io/images/favicon-192x192-full.png\",\t       \"url\": \"https://home-assistant.io\",\t       \"notification_id\": \"hass-notification\",\t       \"tts\": $env('MESSAGE'),\t       \"tts_language\": \"english\"\t   }\t}",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": true,
        "x": 228,
        "y": 128,
        "wires": [
            []
        ]
    },
    {
        "id": "3d2f708b.d06de",
        "type": "inject",
        "z": "7b33efdd.5dfc1",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 96,
        "y": 1440,
        "wires": [
            [
                "e9b9b8f6.ab8358"
            ]
        ]
    },
    {
        "id": "e9b9b8f6.ab8358",
        "type": "subflow:7f50d496.0afc3c",
        "z": "7b33efdd.5dfc1",
        "name": "",
        "env": [
            {
                "name": "MESSAGE",
                "type": "str",
                "value": "The home alarm has been triggered"
            },
            {
                "name": "TITLE",
                "type": "str",
                "value": "Home Alarm Triggered!"
            }
        ],
        "x": 324,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "dabac61c.7e0d58",
        "type": "subflow:7f50d496.0afc3c",
        "z": "7b33efdd.5dfc1",
        "name": "Announce Everywhere",
        "env": [
            {
                "name": "MESSAGE",
                "type": "str",
                "value": "A door has been left opened"
            },
            {
                "name": "TITLE",
                "type": "str",
                "value": "A door has been left opened"
            }
        ],
        "x": 964,
        "y": 1056,
        "wires": [
            [
                "3a10fbd4.edd984"
            ]
        ]
    },
    {
        "id": "95e5275.b10bfd8",
        "type": "subflow:7f50d496.0afc3c",
        "z": "49cef67d.db9168",
        "name": "Announce Everywhere - Nest is offline",
        "env": [
            {
                "name": "TITLE",
                "type": "str",
                "value": "Nest is offline"
            }
        ],
        "x": 438,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "bd7f00dd.7a7b8",
        "type": "subflow:7f50d496.0afc3c",
        "z": "49cef67d.db9168",
        "name": "Announce Everywhere - Nest is back online",
        "env": [
            {
                "name": "TITLE",
                "type": "str",
                "value": "Nest is back online"
            }
        ],
        "x": 458,
        "y": 256,
        "wires": [
            []
        ]
    },
    {
        "id": "e514575.d24a7a8",
        "type": "inject",
        "z": "5d315e32.6167e",
        "name": "Maksim, it's time to leave for the bus",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "16 07 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "x": 282,
        "y": 192,
        "wires": [
            [
                "206cb89c.40a8c8"
            ]
        ]
    },
    {
        "id": "206cb89c.40a8c8",
        "type": "api-call-service",
        "z": "5d315e32.6167e",
        "name": "Announce on Alexa",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media",
        "entityId": "",
        "data": "{\"message\":\"Mack-sim, it's time to leave for the bus\",\"data\":{\"type\":\"tts\"},\"target\":[\"media_player.kitchen\",\"media_player.family_room\"]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": true,
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7613e00c.861c9",
        "type": "inject",
        "z": "5d315e32.6167e",
        "name": "Luka and Nika, it's time to leave for the bus",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "12 08 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "x": 298,
        "y": 384,
        "wires": [
            [
                "a553b1e6.b430f",
                "55fd0d0e.246dc4"
            ]
        ]
    },
    {
        "id": "a553b1e6.b430f",
        "type": "api-call-service",
        "z": "5d315e32.6167e",
        "name": "Turn off TV",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "turn_off",
        "entityId": "media_player.samsung_un55f6300",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 642,
        "y": 384,
        "wires": [
            []
        ]
    },
    {
        "id": "55fd0d0e.246dc4",
        "type": "api-call-service",
        "z": "5d315e32.6167e",
        "name": "Announce on Alexa",
        "server": "303b585e.fbf2d8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media",
        "entityId": "",
        "data": "{\"message\":\"Luka and Nika, it's time to leave for the bus\",\"data\":{\"type\":\"tts\"},\"target\":[\"media_player.kitchen\",\"media_player.family_room\"]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": true,
        "x": 662,
        "y": 448,
        "wires": [
            []
        ]
    },
    {
        "id": "cd8e787a.73eb28",
        "type": "trigger-state",
        "z": "7b33efdd.5dfc1",
        "name": "",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "0kykwjyynnj",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 206,
        "y": 1568,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "98416527.09beb8",
        "type": "credentials",
        "z": "7b33efdd.5dfc1",
        "name": "Code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 782,
        "y": 580,
        "wires": [
            [
                "cb431336.b73d3"
            ]
        ]
    },
    {
        "id": "743b30b8.310c",
        "type": "credentials",
        "z": "7b33efdd.5dfc1",
        "name": "Code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 786,
        "y": 192,
        "wires": [
            [
                "dc121229.466b3"
            ]
        ]
    },
    {
        "id": "59de1870.def048",
        "type": "credentials",
        "z": "7b33efdd.5dfc1",
        "name": "Code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 782,
        "y": 700,
        "wires": [
            [
                "56a25c89.786a34"
            ]
        ]
    },
    {
        "id": "8133315a.2aebc",
        "type": "credentials",
        "z": "7b33efdd.5dfc1",
        "name": "Code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 786,
        "y": 128,
        "wires": [
            [
                "f6e9ee36.e2464"
            ]
        ]
    },
    {
        "id": "ba1b94c6.3387d8",
        "type": "credentials",
        "z": "7b33efdd.5dfc1",
        "name": "Code",
        "props": [
            {
                "value": "alarm_code",
                "type": "msg"
            }
        ],
        "x": 786,
        "y": 64,
        "wires": [
            [
                "ccf02df8.c634f"
            ]
        ]
    },
    {
        "id": "3a10fbd4.edd984",
        "type": "mytimeout",
        "z": "7b33efdd.5dfc1",
        "name": "Countdown",
        "outtopic": "msg.entity",
        "outsafe": "started",
        "outwarning": "expired",
        "outunsafe": "stopped",
        "warning": "1",
        "timer": "30",
        "debug": false,
        "ndebug": false,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 358,
        "y": 1056,
        "wires": [
            [
                "a8d63e72.5bffc"
            ],
            []
        ]
    },
    {
        "id": "a2551e4c.90e8c",
        "type": "trigger-state",
        "z": "2080d456.54e53c",
        "name": "Power Outtage Detected",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "63dif33o9bw",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "propertyValue": "new_state.attributes.ac_power",
                "comparatorType": "is",
                "comparatorValueDatatype": "bool",
                "comparatorValue": "false"
            },
            {
                "id": "36rze66nrvu",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "propertyValue": "old_state.attributes.ac_power",
                "comparatorType": "is",
                "comparatorValueDatatype": "bool",
                "comparatorValue": "true"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4b94133b.dd57cc",
                "35e46c77.75a3e4"
            ],
            []
        ]
    },
    {
        "id": "4b94133b.dd57cc",
        "type": "subflow:7f50d496.0afc3c",
        "z": "2080d456.54e53c",
        "name": "Announce Everywhere",
        "env": [
            {
                "name": "MESSAGE",
                "value": "It appears that there's a power outtage",
                "type": "str"
            },
            {
                "name": "TITLE",
                "value": "Power Outtage",
                "type": "str"
            }
        ],
        "x": 700,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "496bcdd9.66dee4",
        "type": "trigger-state",
        "z": "2080d456.54e53c",
        "name": "Security System Battery Low",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "at0ovn0k198",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "propertyValue": "new_state.attributes.battery_low",
                "comparatorType": "is",
                "comparatorValueDatatype": "bool",
                "comparatorValue": "true"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "b09d9b20.952838",
                "54d64089.1ab"
            ],
            []
        ]
    },
    {
        "id": "da436647.07efa8",
        "type": "subflow:7f50d496.0afc3c",
        "z": "2080d456.54e53c",
        "name": "Announce Everywhere",
        "env": [
            {
                "name": "MESSAGE",
                "value": "It appears that the power outtage has ended",
                "type": "str"
            },
            {
                "name": "TITLE",
                "value": "Power Outtage Ended",
                "type": "str"
            }
        ],
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "54d64089.1ab",
        "type": "subflow:7f50d496.0afc3c",
        "z": "2080d456.54e53c",
        "name": "Announce Everywhere",
        "env": [
            {
                "name": "MESSAGE",
                "value": "The security system's battery is reading low",
                "type": "str"
            },
            {
                "name": "TITLE",
                "value": "The Security System's Battery is Low",
                "type": "str"
            }
        ],
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "35e46c77.75a3e4",
        "type": "ha-wait-until",
        "z": "2080d456.54e53c",
        "name": "Power restored",
        "server": "303b585e.fbf2d8",
        "outputs": 1,
        "entityId": "alarm_control_panel.alarm_panel",
        "property": "attributes.ac_power",
        "comparator": "is",
        "value": "true",
        "valueType": "bool",
        "timeout": 0,
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "msg",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "da436647.07efa8"
            ]
        ]
    },
    {
        "id": "b09d9b20.952838",
        "type": "ha-wait-until",
        "z": "2080d456.54e53c",
        "name": "Bettery Level Normal",
        "server": "303b585e.fbf2d8",
        "outputs": 1,
        "entityId": "alarm_control_panel.alarm_panel",
        "property": "attributes.battery_low",
        "comparator": "is",
        "value": "false",
        "valueType": "bool",
        "timeout": 0,
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "msg",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "e9cca6e.e675b58"
            ]
        ]
    },
    {
        "id": "e9cca6e.e675b58",
        "type": "subflow:7f50d496.0afc3c",
        "z": "2080d456.54e53c",
        "name": "Announce Everywhere",
        "env": [
            {
                "name": "MESSAGE",
                "value": "The security system's battery is back to normal",
                "type": "str"
            },
            {
                "name": "TITLE",
                "value": "The Security System's Battery is Back to Normal",
                "type": "str"
            }
        ],
        "x": 700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "398880bb.aa508",
        "type": "trigger-state",
        "z": "7b33efdd.5dfc1",
        "name": "Alarm cancelled",
        "server": "303b585e.fbf2d8",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "e9zg2ndkv3",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            },
            {
                "id": "csxkuxec1eo",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "41d5e31e.37243c"
            ],
            []
        ]
    },
    {
        "id": "41d5e31e.37243c",
        "type": "subflow:97dc732c.f5042",
        "z": "7b33efdd.5dfc1",
        "name": "",
        "x": 380,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "99f9db37.d44b68",
        "type": "sun events",
        "z": "7b33efdd.5dfc1",
        "testmode": false,
        "verbose": true,
        "topic": "",
        "name": "",
        "x": 92,
        "y": 1248,
        "wires": [
            [
                "710c7668.55d658"
            ]
        ]
    }
]